<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Médias</title>
</head>
<body>
    <H1>Bem vindo!</H1>
    <a href="/calcular">Inserir novas médias</a>
    <a href="/lista">Ver lista de médias</a>
</body>
</html>