<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de médias:</h1>
    <ul>
        <% for (let m of medias) {%>
            <li><b>Aluno:   </b><%= m.n %> <b>Média:</b>   <%= m.media  %></li>
        <% } %>

    </ul>
    <a href="/">Voltar</a>
    <a href="/calcular">Nova Média</a>
</body>
</html>